html{
box-sizing: border-box;
font-family: Arial, sans-serif;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    margin: 0;
}
.header{
    display: grid;
    grid-template-columns: 1fr 4fr 10fr 5fr;
    align-self: auto;
    text-align: center;
    height: 10vh;
    background-color: bisque;
    border: 1px solid black;
    border-bottom: 0px solid black;
    border-left: 0px solid black;
}
.footer{
    align-self: auto;
    position: fixed;
    height: 3.5vh;
    padding-top: 2px;
    padding-left: 25px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: bisque;
    border: 1px solid black;
}