html{
box-sizing: border-box;
font-family: Arial, sans-serif;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    margin: 0;
    background-color: rgb(204, 204, 204);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*c
colour scheme : 
(170, 170, 170), (187, 187, 187), (204, 204, 204), (221, 221, 221)
*/
.header{
    display: grid;
    grid-template-columns: 1fr 192px 10px 192px 10px;
    height: 10vh;
    width: 100vw;
    background-color: rgb(221, 221, 221);
    border-bottom: 1px solid rgb(170, 170, 170);
}

.title{
    text-align: center;
    align-items: center;
    padding-top: 3vh;
}

.button {
    align-content: center;
}

.footer{
    align-self: auto;
    position: fixed;
    height: 3.5vh;
    padding-top: 2px;
    padding-left: 25px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: rgb(221, 221, 221);
    border-top: 1px solid rgb(170, 170, 170);
}